header {
    background-color: darkblue;
    color: white;
}

#navbar {
    background-color: darkblue;
    color: white;
}

footer {
    background-color: rgb(5, 5, 94);
    color: white;
}

#OriginalStatement {
    background-color: rgb(5, 5, 94);
    color: white;
}